@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #a569bd ;
    background-image: linear-gradient(right, #2e86c1, #0e7ac2);
}

.secondLine {
    font-weight: 350;
    font-size: 15px;
    color: white;

}

.firstLine {
    font-size: 30px;
    color: white;
}

input::placeholder {
    color: white;
}

@media only screen and (max-width: 600px) {
    .firstLine {
        font-size: 20px;
    }
}